@import "./colors.scss";

.text {
  color: $white;
  font-family: 'Poppins', serif;
  font-size: 1rem;
}

.dark-text {
  color: $dark;
}

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.center-text {
  text-align: center;
}

.url-text {
  text-decoration: underline;
}

.mb-text {
  margin: 0;
  margin-bottom: 1rem;
}

.uppercase-text {
  text-transform: uppercase;
}

.h1-text {
  font-size: 3rem;
  letter-spacing: 0.2rem;
}

.h4-text {
  font-size: 1.5rem;
}

.heading-text {
  font-size: 2rem;
  text-transform: capitalize;
  // line-height: 2.5rem;
  margin-bottom: 1.3rem;
  // max-width: 50%;
}

.home-content-description {
  font-size: 1.1rem;
}
